@font-face {
  font-family: Madani Arabic;
  src: url("/fonts/alfont_com_Madani-Arabic-Regular.ttf ");
}

/* START GLOBAL */
:root {
  --black-color: #292929;
  --dark-blue-color: #0A2362;
  --light-blue-color: #012A83;
  --red-color: #D30707;
  --gray-color: #848484;
  --bg-gray: #F2F2F2;
}

html {
  font-size: 16px;
}

body {
  font-family: Madani Arabic;
  background-color: var(--bg-gray);
}

a {
  color: var(--black-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline !important;
}

p {
  margin: 0;
}

img, video {
  max-width: 100%;
  max-height: 100%;
}

input, textarea {
  background-color: var(--bg-gray);
  color: var(--gray-color);
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
}

.btn-danger {
  background-color: var(--red-color);
}

.btn-primary {
  background-color: var(--light-blue-color);
}


.btn-primary:hover {
  background-color: var(--dark-blue-color);
}

.btn-gray {
  background-color: #536488;
  color: #fff;
}

.shadow-header {
  box-shadow: 0px 10px 22px 4px rgba(148, 148, 148, 0.14);
}

.text-danger {
  color: var(--red-color) !important;
}

.text-black {
  color: var(--black-color) !important;
}

.text-blue {
  color: var(--light-blue-color);
}

.text-gray {
  color: var(--gray-color);
}

.bg-blue-light {
  background-color: var(--light-blue-color);
}

.bg-red {
  background-color: var(--red-color);
}

.bg-gray {
  background-color: var(--bg-gray);
}

.line-height-35 {
  line-height: 35px;
}

.line-height-50 {
  line-height: 50px;
}

.border-top {
  border-top: 1px solid #D2D2D2;
}

.border-bottom {
  border-bottom: 1px solid #D2D2D2;
}

.border-right {
  border-right: 4px solid var(--red-color);
}

/* .animate-scale {
  transition: all 0.3s ease-in-out
} */

.animate-scale:hover {
  transform: scale(1.3);
}

/* .animate-section {
  transition: all 1s ease-in-out;
} */

.animate-section:hover {
  box-shadow: 0px 10px 22px 4px rgba(148, 148, 148, 0.14);
}

.animate-section:hover h6,
.animate-section:hover h5,
.animate-section:hover p,
.animate-section:hover a,
.animate-section:hover .date {
  text-decoration: underline !important;
}


.animate-section:hover .overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.65) 100%) !important;
}

.animate-section:hover h5,
.animate-section:hover a {
  color: var(--light-blue-color) !important;
}

.animate-section:hover img {
  transform: scale(1.1);
  z-index: -2;
} 

.animate-section:hover .health-title {
  text-decoration: none !important;
  color: #fff !important;
}

.animate-section:hover .details-news p {
  color: var(--light-blue-color) !important;
}

.dropdown-menu {
  border: 1px solid var(--light-blue-color);
  box-shadow: 0px 4px 27px 0px rgba(0, 0, 0, 0.12);
}

.dropdown-menu .dropdown-item:hover {
  background-color: var(--light-blue-color);
  color: #fff;
}

.line {
  width: 4px;
  height: 32px;
  display: inline-block;
}

@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
  img, video {
    height: auto !important;
  }
}

@media (min-width: 1399px) and (max-width: 1600px) {
  .container {
    width: 1120px !important;
  }
}
/* END GLOBAL */

/* START SWIPER */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

.swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiper-slide:nth-child(3n) {
  width: 20%;
}

.swiper-button-prev,
.swiper-button-next {
  width: 32px;
  height: 32px;
  background-color: var(--black-color);
  padding: 1rem 1.2rem;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px !important;
  font-weight: bold;
  color: white;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1 !important;
}
/* END SWIPER */

/* START HEADER */
html[dir="ltr"] header form {
  margin-left: auto;
  margin-right: initial !important;
}

html[dir="ltr"] header .dropdown-menu {
  text-align: left !important;
}

header .upper {
  width: 100%;
  height: 64px;
  background-color: var(--light-blue-color);
}

header .link-live {
  color: var(--red-color);
  font-weight: 700;
  position: relative;
  text-decoration: underline;
  animation: text-flash 1s ease-in-out 3s infinite;
}

@keyframes text-flash {
  0% {
    color: var(--red-color);
  }
  100% {
    color: #C10000;
  }
}

@keyframes bg-flash {
  0% {
    background-color: var(--red-color);
  }
  50% {
    background-color: #C10000;
  }
  100% {
    background-color: var(--red-color);
  }
}

header .link-live::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: var(--red-color);
  top: 15%;
  right: -24px;
  border-radius: 50%;
  animation: bg-flash 1s ease-in-out 3s infinite;
}

header .nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-size: 1rem;
}

header .nav-link.active {
  color: var(--red-color) !important;
  position: relative;
}

header .nav-link.active::after {
  position: absolute;
  content: "";
  width: 86%;
  height: 3px;
  background-color: var(--red-color);
  bottom: 0;
  left: 5px;
}

.alert-bar {
  font-size: 1.85rem;
  animation: bg-flash 1s linear infinite;
}

@media (max-width: 576px) {
  header .upper {
    height: 32px;
  }
  header .upper p {
    font-size: 11px;
  }
}

@media (max-width: 991px) {
  header .nav-link.active::after {
    width: 15%;
    right: 0;
  }
}
/* END HEADER */

/* START WHO ARE WE */
.style-img-profile::before,
.style-img-profile::after {
  content: "";
  position: absolute;
  width: 135px;
  border-width: 75px;
  border-style: solid;
  z-index: 1;
}

.style-img-profile::before {
  border-color: var(--red-color) var(--red-color) transparent transparent;
  top: -24px;
  right: -15px;
}

.style-img-profile::after {
  border-color: transparent transparent var(--red-color) var(--red-color);
  bottom: -24px;
  left: -15px;
}
/* END WHO ARE WE */

/* START PAGINATION */
.pagination .page-link {
  box-shadow: none;
  background-color: transparent !important;
  color: var(--light-blue-color);
  border-top: 1px solid var(--light-blue-color);
  border-bottom: 1px solid var(--light-blue-color);
}

.page-item:first-child .page-link {
  border-radius: 0;
  border-right: 1px solid var(--light-blue-color);
}

.page-item:last-child .page-link {
  border-radius: 0;
  border-left: 1px solid var(--light-blue-color);
}

.active>.page-link, .page-link.active {
  color: #fff;
}
/* END PAGINATION */

/* START LOADING */
.loader-line {
  width: 100%;
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #ddd;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  z-index: 222;
}

.loader-line:before {
  content: "";
  position: absolute;
  left: -50%;
  height: 100%;
  width: 40%;
  background-color: var(--red-color);
  -webkit-animation: lineAnim 1s linear infinite;
  -moz-animation: lineAnim 1s linear infinite;
  animation: lineAnim 1s linear infinite;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@keyframes lineAnim {
  0% {
      left: -40%;
  }
  50% {
      left: 20%;
      width: 80%;
  }
  100% {
      left: 100%;
      width: 100%;
  }
}
/* END LOADING */